@font-face
{
    font-family: 'Dongle', sans-serif;
    src:url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap')
}

.list-group-item{
    font-family:'Dongle', sans-serif;
}

.WikiPage{
    min-height: 100vh !important;
}
.body{
    background-color: #33333b;
    font-Family:'dongle' !important;
}